* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width: 100%;
}
#main{
    width:100%;
}
#home{
    width:100%;
    height:100vh;
    overflow: hidden;
}
#home img{
   width: 100%;
   height: 100%;
   object-fit: cover; 
}
#home #circle{
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 130vw;
    height: 130vh;
    border-radius: 50%;
}
#circle img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
#top{
    position: absolute;
    width: 100%;
    height: 100%;
}
#top img{
    transform: translate(-50%, -50%) rotate(-180 deg)
}
#bottom{
    position: absolute;
    height:100%;
    width: 100%;
}
#bottom img:nth-child(1) {
    transform: translate(-50%,-50%) scale(1.8);
}
#bottom img:nth-child(2) {
    transform: translate(-50%,-50%) scale(1.2);
}
#bottom img:nth-child(3) {
    transform: translate(-50%,-50%) scale(3);
}